USE [GeoFIAP]
GO
/****** Object:  Table [dbo].[Checkin]    Script Date: 29/08/2019 22:34:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Checkin](
	[IDCheckin] [bigint] NOT NULL,
	[Protocolo] [varchar](80) NULL,
	[DtInclusao] [datetime] NULL,
	[IDUsuario] [int] NULL,
	[Ativo] [bit] NOT NULL,
	[PontoGeo] [geography] NULL,
 CONSTRAINT [PK_Checkin] PRIMARY KEY CLUSTERED 
(
	[IDCheckin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Checkin] ([IDCheckin], [Protocolo], [DtInclusao], [IDUsuario], [Ativo], [PontoGeo]) VALUES (2, NULL, NULL, 1, 1, 0xE6100000010CB33185A4BAA737C0AE4FCC41A94447C0)
GO
INSERT [dbo].[Checkin] ([IDCheckin], [Protocolo], [DtInclusao], [IDUsuario], [Ativo], [PontoGeo]) VALUES (3, NULL, NULL, NULL, 1, 0xE6100000010CC1620F3BBAA737C0D770053EA64447C0)
GO
INSERT [dbo].[Checkin] ([IDCheckin], [Protocolo], [DtInclusao], [IDUsuario], [Ativo], [PontoGeo]) VALUES (100, N'A', CAST(N'2019-06-05T17:37:09.000' AS DateTime), NULL, 1, 0xE6100000010CD60D62A039B237C0D99D99F4F64647C0)
GO
